.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #e6aea8;
}
.login-hero {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: 100%;
  max-height: auto;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/external/pastedimage-qj8h-1500w.png");
}
.login-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.login-heading {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-header {
  color: rgb(239, 239, 221);
  width: auto;
  height: auto;
  margin: var(--dl-space-space-unit);
  font-size: 50px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  padding-top: 0px;
  border-color: #efefdd;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 9px;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.login-buttons {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.login-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-hero1 {
  width: 50%;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: 5px;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  box-shadow: 0px 0px 50px 0px #b16969;
  min-height: auto;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  background-color: #efefdd;
}
.login-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: 5px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.login-textinput {
  width: 100%;
  margin: var(--dl-space-space-unit);
  padding: 0.5rem;
  transition: 0.3s;
  font-family: Inter;
  border-width: 0px;
  background-color: #e6aea8;
}
.login-textinput:focus {
  background-color: #FFC8C2;
}
.login-textinput:hover {
  background-color: #FFC8C2;
}
.login-textinput1 {
  width: 100%;
  margin: var(--dl-space-space-unit);
  padding: 0.5rem;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  border-width: 0px;
  background-color: #e6aea8;
}
.login-textinput1:focus {
  background-color: #FFC8C2;
}
.login-textinput1:hover {
  border: none;
  border-width: 0px;
  background-color: #FFC8C2;
}
.login-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: 0px;
  align-self: flex-start;
  box-shadow: 0px 0px 0px 0px rgba(212, 212, 212, 0);
  align-items: flex-start;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
.login-text2 {
  color: #dc9999;
  text-decoration: underline;
}
.login-view {
  width: 100%;
  margin: var(--dl-space-space-unit);
  align-self: center;
  box-shadow: 5px 6px 0px 0px #ebc3c3;
  font-family: Montserrat;
  border-width: 0px;
  border-radius: 20px;
  background-color: #dc9999;
}
.login-copyright {
  color: #efefdd;
  font-size: 12px;
}
@media(max-width: 1920px) {
  .login-hero {
    height: 127px;
  }
  .login-container1 {
    position: relative;
  }
  .login-header {
    color: rgb(239, 239, 221);
    margin: var(--dl-space-space-halfunit);
    padding: 0px;
    font-size: 50px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: 9px;
    text-transform: none;
    text-decoration: none;
  }
  .login-text {
    font-size: 30px;
  }
  .login-hero1 {
    height: 100%;
    background-color: #efefdd;
  }
  .login-textinput {
    font-family: Fredoka;
    background-color: #DAA39C;
  }
  .login-text2 {
    font-family: Fredoka;
  }
  .login-text3 {
    font-size: 16px;
  }
  .login-view {
    font-size: 16px;
  }
  .login-text5 {
    color: #603030;
    font-family: Fredoka;
  }
  .login-text6 {
    font-size: 16px;
  }
  .login-copyright {
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .login-text8 {
    color: rgb(253, 251, 251);
    font-family: Fredoka;
  }
}
@media(max-width: 1400px) {
  .login-hero1 {
    height: auto;
    justify-content: space-between;
  }
}
@media(max-width: 991px) {
  .login-hero1 {
    width: 50%;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .login-hero1 {
    width: 100%;
  }
}
