.shop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #e6aea8;
}
.shop-navbar-interactive {
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  z-index: 100;
  position: fixed;
  align-self: center;
  box-shadow: 0px 0px 10px 0px #945858;
  align-items: center;
  justify-content: center;
  background-color: #efefdd;
}
.shop-desktop-menu {
  flex: 1;
  display: initial;
  justify-content: space-between;
}
.shop-links {
  flex: 1;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.shop-navlink {
  display: contents;
}
.shop-image {
  width: 44px;
  height: 35px;
  text-decoration: none;
}
.shop-navlink1 {
  color: #DC9999;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Fredoka;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-navlink1:hover {
  color: #a27575;
}
.shop-navlink2 {
  color: #dc9999;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Fredoka;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-navlink2:hover {
  color: #a27575;
}
.shop-navlink3 {
  color: #DC9999;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Fredoka;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: transparent;
}
.shop-navlink3:hover {
  color: #a27575;
}
.shop-navlink4 {
  color: #DC9999;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Fredoka;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: transparent;
}
.shop-navlink4:hover {
  color: #a27575;
}
.shop-navlink5 {
  color: rgb(220, 153, 153);
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Fredoka;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: transparent;
}
.shop-navlink5:hover {
  color: #a27575;
}
.shop-text02:hover {
  color: #a27575;
}
.shop-navlink6 {
  color: #DC9999;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Fredoka;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: transparent;
}
.shop-navlink6:hover {
  color: #a27575;
}
.shop-burger-menu {
  display: none;
}
.shop-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shop-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.shop-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shop-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.shop-logo {
  width: 144px;
  height: 122px;
}
.shop-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-icon02 {
  width: 70px;
  height: 70px;
}
.shop-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.shop-text04 {
  color: #dc9999;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.shop-text04:hover {
  color: #a27575;
}
.shop-text05 {
  font-style: normal;
  font-family: Fredoka;
  font-weight: 500;
}
.shop-text05:hover {
  color: #a27575;
}
.shop-text07 {
  color: #dc9999;
  font-style: normal;
  transition: 0.3s;
  font-family: Fredoka;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.shop-text07:hover {
  color: #a27575;
}
.shop-text08 {
  color: #dc9999;
  font-style: normal;
  transition: 0.3s;
  font-family: Fredoka;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.shop-text08:hover {
  color: #a27575;
}
.shop-text09 {
  color: #dc9999;
  font-style: normal;
  transition: 0.3s;
  font-family: Fredoka;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.shop-text09:hover {
  color: #a27575;
}
.shop-text10 {
  color: #dc9999;
  font-style: normal;
  transition: 0.3s;
  font-family: Fredoka;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.shop-text10:hover {
  color: #a27575;
}
.shop-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.shop-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.shop-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shop-navbar-spacer {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: flex-start;
}
.shop-hero {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: 100%;
  max-height: auto;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/external/pastedimage-qj8h-1500w.png");
}
.shop-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-heading {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-header {
  color: rgb(239, 239, 221);
  width: auto;
  height: auto;
  margin: var(--dl-space-space-unit);
  font-size: 50px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  padding-top: 0px;
  border-color: #efefdd;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 9px;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.shop-buttons {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.shop-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.shop-container03 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.shop-hero1 {
  width: 50%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: 5px;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  box-shadow: 0px 0px 50px 0px #b16969;
  min-height: auto;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #efefdd;
}
.shop-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.shop-pasted-image {
  width: 100%;
  margin: var(--dl-space-space-unit);
}
.shop-container05 {
  width: 100%;
  height: auto;
  margin: 5px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-container06 {
  flex: 1;
  width: auto;
  height: auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.shop-text11 {
  color: rgb(197, 115, 115);
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 800;
  padding-bottom: var(--dl-space-space-twounits);
}
.shop-text12 {
  width: auto;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-family: Fredoka;
  font-weight: 500;
  line-height: 30px;
}
.shop-view {
  color: rgb(0, 0, 0);
  width: 50%;
  margin: var(--dl-space-space-oneandhalfunits);
  box-shadow: 5px 6px 0px 0px #ebc3c3;
  font-family: Montserrat;
  border-color: #dc9999;
  border-width: 0px;
  border-radius: 20px;
  text-decoration: none;
  background-color: rgb(220, 153, 153);
}
.shop-container07 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-hero2 {
  width: 50%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: 5px;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  box-shadow: 0px 0px 50px 0px #b16969;
  min-height: auto;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #efefdd;
}
.shop-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.shop-pasted-image1 {
  width: 100%;
  margin: var(--dl-space-space-unit);
}
.shop-container09 {
  width: 100%;
  height: auto;
  margin: 5px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-container10 {
  flex: 1;
  width: auto;
  height: auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.shop-text18 {
  color: rgb(197, 115, 115);
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 800;
  padding-bottom: var(--dl-space-space-twounits);
}
.shop-text19 {
  width: auto;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-family: Fredoka;
  font-weight: 500;
  line-height: 30px;
}
.shop-view1 {
  color: rgb(0, 0, 0);
  width: 50%;
  margin: var(--dl-space-space-oneandhalfunits);
  box-shadow: 5px 6px 0px 0px #ebc3c3;
  font-family: Montserrat;
  border-color: #dc9999;
  border-width: 0px;
  border-radius: 20px;
  text-decoration: none;
  background-color: rgb(220, 153, 153);
}
.shop-container11 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-container12 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.shop-hero3 {
  width: 50%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: 5px;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  box-shadow: 0px 0px 50px 0px #b16969;
  min-height: auto;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #efefdd;
}
.shop-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.shop-pasted-image2 {
  width: 100%;
  margin: var(--dl-space-space-unit);
}
.shop-container14 {
  width: 100%;
  height: auto;
  margin: 5px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-container15 {
  flex: 1;
  width: auto;
  height: auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.shop-text25 {
  color: rgb(197, 115, 115);
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 800;
  padding-bottom: var(--dl-space-space-twounits);
}
.shop-text26 {
  width: auto;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-family: Fredoka;
  font-weight: 500;
  line-height: 30px;
}
.shop-view2 {
  color: rgb(0, 0, 0);
  width: 50%;
  margin: var(--dl-space-space-oneandhalfunits);
  box-shadow: 5px 6px 0px 0px #ebc3c3;
  font-family: Montserrat;
  border-color: #dc9999;
  border-width: 0px;
  border-radius: 20px;
  text-decoration: none;
  background-color: rgb(220, 153, 153);
}
.shop-container16 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-hero4 {
  width: 50%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: 5px;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  box-shadow: 0px 0px 50px 0px #b16969;
  min-height: auto;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #efefdd;
}
.shop-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.shop-pasted-image3 {
  width: 100%;
  margin: var(--dl-space-space-unit);
}
.shop-container18 {
  width: 100%;
  height: auto;
  margin: 5px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-container19 {
  flex: 1;
  width: auto;
  height: auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.shop-text32 {
  color: rgb(197, 115, 115);
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 800;
  padding-bottom: var(--dl-space-space-twounits);
}
.shop-text33 {
  width: auto;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-family: Fredoka;
  font-weight: 500;
  line-height: 30px;
}
.shop-view3 {
  color: rgb(0, 0, 0);
  width: 50%;
  margin: var(--dl-space-space-oneandhalfunits);
  box-shadow: 5px 6px 0px 0px #ebc3c3;
  font-family: Montserrat;
  border-color: #dc9999;
  border-width: 0px;
  border-radius: 20px;
  text-decoration: none;
  background-color: rgb(220, 153, 153);
}
.shop-container20 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-footer {
  gap: 0;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #dc9999;
}
.shop-main {
  width: 90%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.shop-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.shop-branding {
  height: auto;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.shop-heading1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-logo1 {
  color: rgb(239, 239, 221);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.shop-caption {
  color: rgb(239, 239, 221);
  height: auto;
  font-size: 18px;
  line-height: 27px;
}
.shop-copyright {
  color: #efefdd;
  font-size: 12px;
}
.shop-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.shop-social-bar {
  width: auto;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.shop-link {
  display: contents;
}
.shop-icon10 {
  fill: #efefdd;
  width: 40px;
  height: 40px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-link1 {
  display: contents;
}
.shop-icon12 {
  fill: #efefdd;
  width: 40px;
  height: 40px;
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.shop-socials1 {
  gap: var(--dl-space-space-unit);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.shop-twitter {
  text-decoration: none;
}
.shop-image1 {
  width: 100px;
  object-fit: cover;
}
.shop-discord {
  text-decoration: none;
}
.shop-image2 {
  width: 100px;
  object-fit: cover;
}
@media(max-width: 1920px) {
  .shop-header {
    font-size: 40px;
  }
  .shop-text11 {
    color: rgb(197, 115, 115);
    width: auto;
    font-size: 30px;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 800;
    padding-bottom: 0px;
  }
  .shop-text12 {
    color: #603030;
    font-size: 16px;
    font-style: normal;
    font-family: Fredoka;
    font-weight: 500;
    line-height: 30px;
  }
  .shop-view {
    color: rgb(0, 0, 0);
    font-size: 16px;
    box-shadow: rgb(235, 195, 195) 5px 6px 0px 0px;
    font-family: Montserrat;
    text-decoration: none;
    background-color: rgb(220, 153, 153);
  }
  .shop-text15 {
    color: #603030;
  }
  .shop-text18 {
    color: rgb(197, 115, 115);
    width: auto;
    font-size: 30px;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 800;
    padding-bottom: 0px;
  }
  .shop-text19 {
    color: #603030;
    font-size: 16px;
    font-style: normal;
    font-family: Fredoka;
    font-weight: 500;
    line-height: 30px;
  }
  .shop-view1 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    box-shadow: rgb(235, 195, 195) 5px 6px 0px 0px;
    font-family: Montserrat;
    text-decoration: none;
    background-color: rgb(220, 153, 153);
  }
  .shop-text22 {
    color: #603030;
  }
  .shop-text25 {
    color: rgb(197, 115, 115);
    width: auto;
    font-size: 30px;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 800;
    padding-bottom: 0px;
  }
  .shop-text26 {
    color: #603030;
    font-size: 16px;
    font-style: normal;
    font-family: Fredoka;
    font-weight: 500;
    line-height: 30px;
  }
  .shop-view2 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    box-shadow: rgb(235, 195, 195) 5px 6px 0px 0px;
    font-family: Montserrat;
    text-decoration: none;
    background-color: rgb(220, 153, 153);
  }
  .shop-text29 {
    color: #603030;
  }
  .shop-text32 {
    color: rgb(197, 115, 115);
    width: auto;
    font-size: 30px;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 800;
    padding-bottom: 0px;
  }
  .shop-text33 {
    color: #603030;
    font-size: 16px;
    font-style: normal;
    font-family: Fredoka;
    font-weight: 500;
    line-height: 30px;
  }
  .shop-view3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    box-shadow: rgb(235, 195, 195) 5px 6px 0px 0px;
    font-family: Montserrat;
    text-decoration: none;
    background-color: rgb(220, 153, 153);
  }
  .shop-text36 {
    color: #603030;
  }
  .shop-logo1 {
    font-family: Montserrat;
  }
  .shop-caption {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Montserrat;
    line-height: 27px;
  }
  .shop-copyright {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: Montserrat;
  }
}
@media(max-width: 1400px) {
  .shop-links {
    flex-direction: row;
  }
}
@media(max-width: 991px) {
  .shop-navbar-interactive {
    width: 100%;
    height: auto;
    margin: 0px;
    align-self: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .shop-desktop-menu {
    display: none;
  }
  .shop-burger-menu {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .shop-icon {
    height: auto;
    align-self: stretch;
  }
  .shop-top {
    align-items: flex-start;
    justify-content: space-between;
  }
  .shop-logo {
    width: 145px;
    height: 122px;
  }
  .shop-close-menu {
    position: relative;
  }
  .shop-icon02 {
    align-self: center;
  }
  .shop-text04 {
    color: rgb(220, 153, 153);
  }
  .shop-text07 {
    color: rgb(220, 153, 153);
  }
  .shop-text08 {
    color: rgb(220, 153, 153);
  }
  .shop-text09 {
    color: rgb(220, 153, 153);
  }
  .shop-text10 {
    color: rgb(220, 153, 153);
  }
  .shop-navbar-spacer {
    height: 50px;
  }
}
@media(max-width: 767px) {
  .shop-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .shop-text04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-text05 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-text09 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-text10 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .shop-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
